
<!doctype html>
<html>
  <head>
    <title>Movie Search App</title>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" >

    <!-- Custom styles for this template -->
    <link href="/stylesheets/app.css" rel="stylesheet" >
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h1 class="masthead-brand">Movie Search App</h1>
    </div>
  </header>

  <main role="main" class="inner cover">