<% include ./partials/header %>

<h1>Search For a Movie</h1>

<section class="jumbotron text-center">
    <div class="container">
        <form action="/results" method="GET">
    	<input type="text"  placeholder="search term" name="search">
    	<input class="btn btn-primary my-2" type="submit">
</form>
    </div>
  </section>



<% include ./partials/footer %>